@model StudySpehere_Exam.Models.CategoryQuiz;
<style>
    /* Tambahan style untuk memberikan margin pada form */
    .form-container {
        max-width: 500px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        margin-top: 50px;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="form-container">
                <h2 class="mb-4">Input Data Kategori</h2>
                <form asp-action="Create" asp-controller="CategoryQuiz">
                    <div class="mb-3">
                        <label asp-for="Name" for="Name" class="form-label">Nama Kategori</label>
                        <input type="text" class="form-control" id="Name" name="Name" asp-for="Name" placeholder="Masukkan nama kategori">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Description" for="Description" class="form-label">Deskripsi Kategori</label>
                        <textarea class="form-control" id="Description" name="Description" asp-for="Description" rows="3" placeholder="Masukkan deskripsi kategori"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Simpan</button>
                    <a asp-action="Dashboard" asp-controller="Admin" class="btn btn-info">Back</a>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }
}