@model StudySpehere_Exam.Models.Student;
<div class="row">
    <!-- Header Section -->
    <div class="col-md-12">
        <div class="d-flex justify-content-between align-items-center">
            <h1 class="mb-0">Welcome @Model.Username!</h1>
            <a asp-action="Logout" asp-controller="Student" onclick="return confirm('Are you sure you want to leave this system?')" class="btn btn-primary">Logout</a>
        </div>
    </div>
</div>