<style>
	/* Custom CSS untuk halaman login */
	body {
		background-color: #f8f9fa;
	}

	.login-container {
		max-width: 400px;
		margin: 0 auto;
		padding: 40px;
		background: #fff;
		box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
		border-radius: 10px;
		margin-top: 100px;
	}
</style>
<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-6">
			<div class="login-container">
				<h2 class="mb-4 text-center">Register Account</h2>
				<form method="post" asp-controller="Student" asp-action="Register">
					<div class="mb-3">
						<label for="NamaLengkap" class="form-label">Nama Lengkap</label>
						<input type="text" class="form-control" id="NamaLengkap" name="NamaLengkap" required>
					</div>
					<div class="mb-3">
						<label for="username" class="form-label">Username</label>
						<input type="text" class="form-control" id="username" name="username" required>
					</div>
					<div class="mb-3">
						<label for="password" class="form-label">Password</label>
						<input type="password" class="form-control" id="password" name="password" required>
					</div>
					<button type="submit" class="btn btn-primary btn-block" style="width:100%">Register</button>
					<div class="text-center">
						<span class="text-center" style="text-decoration:none">Sudah punya akun? <a asp-action="Index" asp-controller="Home" >Login</a></span>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial"></partial>
	}
}