@if (TempData["success"] != null)
{
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
	@*<div class="alert alert-success">
		<h2><strong>Success : </strong>@TempData["success"]</h2>
	</div>
	*@
	<script type="text/javascript">
		toastr.success('@TempData["success"]');
	</script>
}
@if (TempData["error"] != null)
{
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
	@*
	<div class="alert alert-danger">
		<h2><strong>Error : </strong>@TempData["error"]</h2>
	</div>
	*@
	<script type="text/javascript">
		toastr.error('@TempData["error"]');
	</script>
}